p {
  font-family: "Odibee Sans", cursive;
  font-weight: 400;
}
#test {
  font-family: monospace;
  font-size: 22px;
}

h1 {
  font-family: "Geostar Fill", cursive;
  text-align: center;
  text-decoration: underline;
  margin: 45px auto 50px auto;
  width: 15%;
  border: 2px solid;
  padding: 10px 20px 20px 10px;
}
