/*
seletor * para selecionar tudo
*/
* {
  border: 2px solid;
}
/*Descendência*/
td a {
  color: red;
}
td > a {
  color: green;
}
/*adjacente*/
h1 + h4 {
  border: 4px solid;
}

a[href="/recibo"] {
  color: orange;
}

/*pseudoclasses*/
tr:nth-of-type(2) {
  color: purple;
}

/*Herabnça*/
div {
  color: crimson;
  border: 8px solid;
}
div ul li {
  color: chocolate;
}
div ul {
  border: inherit;
}
