li {
  color: rgb(14, 143, 14);
}
h1 {
  font-size: 50;
  color: #a1a;
  background-color: rgba(128, 128, 128, 0.3);
  border: 2px solid yellowgreen;
}

body {
  background-image: url("https://img.olhardigital.com.br/uploads/acervo_imagens/2020/06/r16x9/20200615112139_1200_675_-_lancamento_de_um_falcon_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*
background-image -> propriedade que especifica uma imagem como fundo de um elemento
*/
